# Mail settings
mail_from="sender@domain.tld"
mail_to="receiver@domain.tld"
postmark_token="token-created-by-postmak-service"

# Directories to backup
backup_dirs[1]="/Users/john/Desktop/"
backup_dirs[2]="/Users/jane/Documents/"

# Google Cloud Storage settings
# You might want to add -n to gs_sync_params if you want a test run before
# sending your backups to your bucket.
gs_sync_params="-r -C -d"
gs_bucket="my-backup-bucket"
gs_sync_exclude=".*\.DS_Store$|.*\.localized$"